.wrapper {
  width: 100vw;
  box-sizing: border-box;

  .my-container {
    width: var(--width-l);
    padding: var(--padding-s);
    margin: auto;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .image-box {
      width: 30%;
      height: auto;
      margin: auto;
      padding: var(--padding-s);
      border-top: 1px solid var(--light-gray);
      border-left: 1px solid var(--light-gray);
      border-right: 1px solid var(--light-gray);

      @media (max-width: 2560px) {
        width: var(--widht-s);
      }
      @media (max-width: 768px) {
        width: var(--width-m);
        margin: auto;
      }
      @media (max-width: 500px) {
        width: var(--width-l);
        margin: auto;
      }
    }

    .product-info {
      width: 30%;
      padding: var(--padding-s);
      margin: auto;

      border-left: 1px solid var(--light-gray);
      border-right: 1px solid var(--light-gray);
      border-bottom: 1px solid var(--light-gray);

      @media (max-width: 2560px) {
        width: var(--widht-s);
      }
      @media (max-width: 768px) {
        width: var(--width-m);
        margin: auto;
      }
      @media (max-width: 500px) {
        width: var(--width-l);
        margin: auto;
      }

      .description {
        .sizes {
          width: var(--width-xl);
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;

          .size {
            padding: var(--padding-s);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--light-gray);
            margin-right: var(--margin-sm);
            cursor: pointer;
          }
        }

        .item-info {
          height: 55px;
          margin-top: var(--margin-sm);
          display: flex;

          .button-box {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            #increment,
            #decrease {
              width: 25px;
              height: 25px;
              border: none;
              margin-left: 0.3rem;
              margin-right: 0.3rem;
              transition: all 0.2s ease;
              border: 1px solid var(--light-gray);
              background-color: var(--black-color);
              color: var(--white-color);

              &:active {
                transform: scale(0.86);
                opacity: 0.9;
              }
            }
          }

          #add-to-cart {
            width: 80%;
            border: none;
            transition: all 0.2s ease;
            border: 1px solid var(--light-gray);
            background-color: var(--purple-color);
            color: var(--white-color);
            font-weight: 400;
            word-spacing: 2px;

            &:active {
              transform: scale(0.96);
              opacity: 0.9;
            }
          }
        }

        .count {
          width: 55px;
          height: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--light-gray);
        }
      }
    }
  }
}

.paymant-box {
  width: 45vw;
  padding: var(--padding-s);
  margin: var(--margin-s) auto;
  display: flex;
  justify-content: center;

  @media (max-width: 786px) {
    width: var(--width-m);
  }
  @media (max-width: 500px) {
    width: 99%;
  }

  #to-payment {
    width: var(--width-xl);
    padding: var(--padding-s);
    border: none;
    font-weight: var(--font-weight-m);
    transition: all 0.2s ease;
    border: 1px solid var(--light-gray);
    background-color: var(--light-green);
    word-spacing: 2px;

    &:active {
      transform: scale(0.96);
      opacity: 0.9;
    }
  }
}

img {
  width: var(--width-xl);
  height: auto;
  border-radius: var(--rem-xs);
}
