<app-nav></app-nav>

<div class="wrapper">
  <div class="my-container" *ngFor="let item of items; let i">
    <div class="boxes">
      <div class="image-box">
        <img src="{{ item.img }}" alt="" />
      </div>
      <div class="product-info">
        <div class="description">
          <h4>{{ item.name }}</h4>
          <strong> {{ item.price }} €</strong>
          <hr />
          <p>Pleas select your size</p>
          <div class="sizes">
            <div
              class="size"
              *ngFor="let size of sizes"
              (click)="selectSize(size, item)"
            >
              {{ size }}
            </div>
          </div>
          <div class="item-info">
            <div class="count">{{ itemCount }}</div>
            <div class="button-box">
              <button id="increment" (click)="increment(item)">+</button>
              <button id="decrease" (click)="decrease(item)">-</button>
            </div>
            <button id="add-to-cart" (click)="addToCart(i)">
              In the shopping cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paymant-box">
  <button id="to-payment" (click)="navigationToPamyment()">To Order</button>
</div>
