<app-nav></app-nav>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Payment overview</h1>
      </div>
    </div>

    <div class="row mt-3 mb-5">
      <div class="col">
        <select
          class="form-select"
          aria-label="Default select example"
          (change)="selectPayment($event)"
        >
          <option>--Choose your payment method--</option>
          <option value="{{ pay }}" *ngFor="let pay of paymentMethod">
            {{ pay }}
          </option>
        </select>
      </div>
    </div>

    <!--paypal-->
    <div id="paypal" *ngIf="payPal">
      <app-paypal-form
        [modalStatusText]="modalStatusText"
        [modalTitle]="modalTitle"
        (paypal)="payWithPayPal($event)"
        [paypalForm]="payPalForm"
      ></app-paypal-form>
    </div>

    <!--klarna-->
    <div id="klarna" *ngIf="klarna">
      <app-klarna-payment-form
        [modalStatusText]="modalStatusText"
        [modalTitle]="modalTitle"
        (klarna)="payWithKlarna($event)"
        [klarnaForms]="klarnaForm"
      ></app-klarna-payment-form>
    </div>

    <!--credit card-->
    <div id="credit-card" *ngIf="creditCard">
      <app-credit-card-form
        [modalStatusText]="modalStatusText"
        [modalTitle]="modalTitle"
        [creditForm]="creditCardForm"
        [totalPrice]="totalPrice"
        (creditCard)="payWithCreditCard()"
      ></app-credit-card-form>
    </div>
  </div>
</div>

<!-- Modal -->
<app-pay-modal
  [modalTitle]="modalTitle"
  [modalStatusText]="modalStatusText"
  (modal)="closeModal()"
></app-pay-modal>

<!-- Order List -->
<div class="order">
  <app-order-list [itemList]="cardItems"></app-order-list>
</div>
