.wrapper {
  margin-top: -2rem;
  padding: var(--padding-x);
  background-color: var(--black-color);
  color: var(--white-color);
}

button {
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  background-color: var(--purple-color);

  &:active {
    transform: scale(0.96);
    opacity: 0.9;
  }
  
  &:hover {
    background-color: var(--purple-color);
  }
}

.order {
  width: 100vw;
  margin: var(--margin-s) auto;
  padding: var(--padding-s);
  background-color: var(--black-color);
}
