.wrapper {
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
  background-color: var(--black-color);

  .my-rows {
    width: 100%;
    padding:  var(--padding-s);
    display: flex;
    flex-wrap: wrap;

    .my-cols {
      width: 33%;
      padding: var(--padding-sm);
      margin: 0.1rem;
      @media (max-width: 1440px) {
        width: 49%;
      }
      @media (max-width: 414px) {
        width: 100%;
        padding: 0;
        margin: var(--margin-sm) 0;
      }

      .my-cards {
        width: 100%;
        padding: var(--padding-s);
        box-shadow: 0px 0px .1rem var(--light-gray);
        border-radius: 0.3rem;
        color: var(--white-color);

        h4 {
          margin-top: var(--margin-s);
        }

        #button {
          transition: all 0.2s ease;
          color: #fff;
          padding: 8px 22px;
          border-radius: 6px;
          border: none;
          background: var(--purple-color);
          &:active {
            transform: scale(0.86);
            opacity: 0.9;
          }
        }
      }
    }
  }
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
}
