<div class="wrapper">
  <footer id="footer">
    <div class="row">
      <div class="col">
        <ul>
          <li>
            <strong><a href="#">Shoping</a></strong>
          </li>
          <li><a href="#">Delivery & Costs</a></li>
          <li><a href="#">Size Chart</a></li>
          <li><a href="#">students</a></li>
          <li><a href="#">gift card</a></li>
          <li><a href="#">Klarna</a></li>
          <li><a href="#">Load the app</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <strong><a href="#">Customer service</a></strong>
          </li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Delivery & Returns</a></li>
          <li><a href="#">Help & Contact</a></li>
          <li><a href="#">Account & Newsletter</a></li>
          <li><a href="#">Find a branch</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <strong><a href="#">Corporate</a></strong>
          </li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Affiliate/Partner Program</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <strong><a href="#">Legal</a></strong>
          </li>
          <li><a href="#">Conditions</a></li>
          <li><a href="#">imprint</a></li>
          <li><a href="#">data protection</a></li>
          <li><a href="#">cookies</a></li>
          <li><a href="#">Cookies settings</a></li>
          <li><a href="#">reachability</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
