<nav class="navbar navbar-expand-lg bg-body-tertiary border rounded-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        class="shadow-sm bg-body-tertiary rounded"
        src="assets/logo/logo.nike.jpg"
        alt="Nike logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="https://p-lakatos-portfolio.vercel.app"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/overview">Overview</a>
        </li>

        <li class="nav-item">
          <div class="demo-section">
            <button
              (click)="toggleBadgeVisibility()"
              id="cart"
              mat-raised-button
              [matBadge]="cartItem"
              matBadgePosition="after"
            >
              <span class="material-symbols-outlined"> shopping_cart </span>
            </button>
          </div>
        </li>
      </ul>
      <div class="d-flex">
        <input
          class="form-control me-2"
          type="text"
          placeholder="Search"
          (keyup)="searchItem($event.target)"
        />
      </div>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="my-rows">
    <div class="my-cols" *ngFor="let items of findItem; let item">
      <div class="my-cards">
        <img src="{{ items.img }}" alt="" />
        <h4>{{ items.name }}</h4>
        <p>{{ items.price }}€</p>
        <button id="button" (click)="addToBasket(item)">Buy</button>
      </div>
    </div>
  </div>
</div>
