<nav class="navbar navbar-expand-lg bg-body-tertiary border rounded-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        class="shadow-sm bg-body-tertiary rounded"
        src="assets/logo/logo.nike.jpg"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="https://p-lakatos-portfolio.vercel.app"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shoes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shoes</a>
        </li>
        <li class="nav-item">
          <div class="demo-section">
            <button
              (click)="toggleBadgeVisibility()"
              id="cart"
              mat-raised-button
              [matBadge]="dataFacadeStorage.cartItems()"
              matBadgePosition="after"
              matBadgeColor="accent"
            >
              <span class="material-symbols-outlined"> shopping_cart </span>
            </button>
          </div>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
