/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    word-spacing: 2px;
}
:root {

    //colors
    --light-green: rgb(0, 240, 140);
    --orange-red: orangered;
    --purple-color:#7d2ae8;
    --white-color:rgb(241, 241, 241);
    --black-color:rgb(43, 43, 43);
    --light-gray:lightgray;

    //font-weights
    --font-weight-m: 600;

    //rems
    --rem-xs:.3rem;

    //padding
    --padding-sm: .5rem;
    --padding-s: 1rem;
    --padding-m: 1.5rem;
    --padding-x: 2rem;

    //margin
    --margin-sm: .5rem;
    --margin-s: 1rem;
    --margin-m: 1.5rem;
    --margin-x: 2rem:

    //width
    --width-s:50%;
    --width-m:75%;
    --widht-l: 99%;
    --width-xl:100%;

}


