.wrapper {
  margin-top: -2rem;
  background-color: var(--black-color);

  .container {
    .row {
      .col {
        color: var(--white-color);
        .order {
          border: none;
          background-color: var(--purple-color);
        }
      }
    }
  }
}

button {
  cursor: pointer;
  transition: all 0.2s ease;

  &:active {
    transform: scale(0.86);
    opacity: 0.9;
  }
}

img {
  width: 200px;
  height: auto;
  border-radius: 0.3rem;
}
